@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pacifico&family=Roboto+Mono:wght@300&family=Shrikhand&family=Space+Mono&family=Spline+Sans+Mono&display=swap');


/* Fuentes:
* font-family: 'Montserrat', sans-serif;
* font-family: 'Pacifico', cursive;
* font-family: 'Roboto Mono', monospace;
* font-family: 'Shrikhand', cursive;
* font-family: 'Space Mono', monospace;
* font-family: 'Spline Sans Mono', monospace;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    list-style: none;
}

:root{

    --barColor:var(--green);
    


    --morado: #502d62;
    --rojo: #ff6961;
    --naranja: #f0932b;
    --green: #52ae86;
    --darkGreen: #468e6f;
    --celeste: #84b6f4;

    --secondColor: #583b5f;

}

/*!Primer Contenedor*/
/* #region firstContainer*/

.firstContainer{
    height: 100vh;
    /* border: solid 3px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;

    /* background-image: url(testImages/fondoDePrueba.jpg); */
    background-color: var(--naranja);
    background-size: contain;
    background-position: center;
}

.titlePage{
    text-align: center;
    font-size: 48px;
    font-family: 'Shrikhand', cursive;
    color: #dadada;
    filter: drop-shadow(3px 3px 10px #000);
    -webkit-filter: drop-shadow(3px 3px 10px #000);
}
.subTitlePage{
    text-align: center;
    font-size: 32px;
    font-family: 'Shrikhand', cursive;
    color: #dadada;
    filter: drop-shadow(3px 3px 10px #000);
    -webkit-filter: drop-shadow(3px 3px 10px #000);
}

.arrow{
    width: 100px;
    filter: drop-shadow(3px 3px 10px #000);
    -webkit-filter: drop-shadow(3px 3px 10px #000);
    animation: arrowAnimation 1.5s infinite ease-in-out;
    -webkit-animation: arrowAnimation 1.5s infinite ease-in-out;
}

.asukoIconContainer{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.asukoIcon{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 0px 20px red);
    -webkit-filter: drop-shadow(0px 0px 20px red);
    
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

/* #endregion firstContainer*/

/*!Segundo Contenedor ¿Quien Soy?*/
/* #region secondContainer*/

.GabiImage{
    padding: 10px;
    margin: auto;
    display: flex;
    width: 200px;
    height: 200px;
    object-fit: cover;
    zoom: 150%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    /* border: 3px solid #000; */
    /* outline: solid 20px #c1c1c1; */

    
}
.proyactsSection, .contactMeSection, .quienSoySection{
    padding: 70px 0;
    width: 100%;
    background-color: #c1c1c1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.quienSoySection{
    background-color: var(--rojo);
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.quienSoyContent{
    color: #ededed;
    text-align: center;
    margin: 0 30px;
    filter: drop-shadow(3px 3px 10px #000);
    -webkit-filter: drop-shadow(3px 3px 10px #000);
}
.quienSoyContent h2{
    margin-bottom: 10px;
    font-size: 32px;
}
.quienSoyContent p{
    font-size: 20px;
}
.next{
    text-align: center;
}

/* #endregion secondContainer*/

/*!Tercer Contenedor Habilidades*/
/* #region thirdContainer*/

.habilidadesSection{
    height: 100vh;

    background-color: var(--celeste);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.habilidadesContent{
    background-color: var(--celeste);
    width: 100%;
    
}

.iconsContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.habilidadesIcon{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
    flex-direction: column;
}

.Bar{
    width: 100%;
    height: 10px;
    background-color: #6f6f6f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.barPorcentaje{
    height: 100%;
    width: calc(var(--w));
    background-color: var(--barColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* #endregion thirdContainer*/

/*!Tercer Contenedor Proyectos*/
/* #region fourContainer*/

.proyactsSection{
    display: flex;
    flex-direction: column;
    background-color: var(--morado);
    min-height: 100vh;

}
.proyects{
    background-color: var(--morado);
    width: 100%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
}
.card{
    background: linear-gradient(to top, rgb(0 0 0 / 0.7) 0%, rgb(0 0 0 / 0.0) 80%), url(realImages/banners/banner1.jpeg);
    background-position: 50%;
    background-size: cover;
    width: 300px;
    height: 100px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
    margin: 20px 10px;
}
.card:nth-child(2){
    background: linear-gradient(to top, rgb(0 0 0 / 0.7) 0%, rgb(0 0 0 / 0.0) 80%), url(realImages/banners/banner2.jpeg);
    background-size: cover;
}
.card:nth-child(3){
    background: linear-gradient(to top, rgb(0 0 0 / 0.7) 0%, rgb(0 0 0 / 0.0) 80%), url(realImages/banners/banner3.jpg);
    background-size: cover;
}
.card p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    margin-left: 10px;
}
.card:hover{
    background-position: 50%;

    height: 350px;
    cursor: pointer;

    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);

    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;

    box-shadow: 3px 3px 5px #111;
}
.card:hover > .button{
    opacity: 1;
    display: flex;
    padding: 10px 20px;
    margin: 10px;
    animation: buttonApaer 1s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button{
    text-decoration: none;
    color: #111;
    background-color: #dbdbdb;
    opacity: 0;
    display: flex;
    margin: 0px 20px 10px 20px;
    padding: 10px 20px;
    animation: buttonApaer 1s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    border: none;
}
.button:hover{
    cursor: pointer;
    background-color: #111;
    color: #dbdbdb;
}

.videosContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gifs{
    margin: 10px;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    object-fit: cover;
}
.gifs:hover{
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);

    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;

    box-shadow: 3px 3px 5px #111;
}

/* #endregion fourContainer*/

/*! Cuarto Contenedor Contacto*/
/* #region fiveContainer*/

.contactMeSection{
    background-color: var(--green);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ededed;
}
.contactMeContent{
    background-color: var(--green);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactMeForm{
    border: 3px solid #ededed;
    max-width: 700px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contactMeForm h2{
    width: 260px;
    background-color: var(--green);
    /* border: 2px red solid; */
    position: relative;
    top: -15px;
    left: 10px;
    padding: 0px 10px;
}
.inputContainer{
    padding: 10px 20px;
}
.inputContainer input{
    color: #ededed;
    display: block;
    width: 100%;
    height: 30px;
    background-color: var(--darkGreen);
    border: none;
    border-bottom: 2px #ededed solid;
}
.inputContainer label{
    font-size: 20px;
}
.inputContainer #mensaje{
    color: #ededed;
    display: block;
    width: 100%;
    height: 200px;
    background-color: var(--darkGreen);
    border: none;
    border-bottom: 2px #ededed solid;
}
.formSubmitBtn{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: auto;
    width: 100px;
    padding: 10px;
    margin-top: 15px;
    background-color: var(--green);
    border: 2px solid #ededed;
    color: #ededed;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.formSubmitBtn:hover{
    cursor: pointer;
    background-color: #ededed;
    color: var(--green);
    border-color: var(--green);
}


.otrosContainer{
    width: 100%;
    display: flex;
    margin: 20px;
}
.otrosImg{
    width: 50px;
}

.upArrowContainer{
    width: 100%;
}
.upArrow{
    float: right;
    width: 100px;
    margin-right: 20px;
}

/* #endregion fiveContainer*/

/*! Contenedor Responsive*/
/* #region responsive*/

/*! Responsive 1920px de ancho*/
@media screen and (min-width: 1920px){
    .titlePage{
        font-size: 100px;
    }
    .next h2{
        font-size: 50px;
    }
    .arrow{
        width: 150px;
    }



    .GabiImage{
        width: 250px;
        height: 250px;
    }
    .quienSoyContent h2{
        font-size: 40px;
    }
    .quienSoyContent p{
        font-size: 30px;
    }


    .habilidadesIcon{
        width: 150px;
        height: 150px;
    }


    .proyactsSection{
        min-height: 100vh;
    }
    .card{
        width: 400px;
    }
    .card:hover{
        height: 500px;
    }
    .gifs{
        width: 400px;
    }

    .contactMeContent{
        width: 100%;

    }
    .contactMeForm{
        max-width: 900px;
    }
}


/*! Responsive 1024px de ancho*/
@media screen and (max-width: 1024px) {

    .asukoIcon{
        position: relative;
        inset: none;
        display: block;
        margin: auto;
    }

    .proyects{
        padding: 0;
        margin: 0;
    }
    .card{
        height: 350px;
    }
    .card p{
        margin: 10px;
    }
    .button{
        opacity: 1;
        margin: 0px 0px 10px 10px;
    }

    .videosContainer{
        width: 100%;
        flex-direction: row;

    }
    .gifs{
        display: flex;
    }

    .contactMeForm{
        width: 90%;
    }

    .asukoIconContainer{
        display: block;
        width: 100%;
        margin: auto;
        position: none;
        display: block;
        margin: auto;
    }
    .asukoIcon{
        display: flex;
        margin: auto;
        position: none;
        top: 0;
        width: 150px;
    }

}

/*! Responsive 600px de alto*/
@media screen and (max-height: 600px){
    .quienSoySection{
        min-height: 100vh;
        padding: 0px;
        margin: 0px;
        justify-content: space-evenly;
    }
    .quienSoyContent{
        width: 50%;
        float: right;
    }
    .quienSoyContent h2{
        font-size: 26px;
    }
    .quienSoyContent p{
        font-size: 16px;
    }
    .content{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .asukoIconContainer{
        width: 50px;
        height: 50px;
        /* border: solid 1px red; */
    }
    .asukoIcon{
        width: 50px;
        left: 0;

        /* border: solid 1px red; */
        
    }
    .GabiImage{
        width: 100px;
        height: 100px;
        float: left;
    }
   
    
}

/*! Responsive 400px de ancho*/
@media screen and (max-width: 400px){
    .firstContainer{
        justify-content: space-around;
    }
    .titlePage{
        font-size: 30px;
    }
    .content{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .GabiImage{
        width: 100px;
        height: 100px;
        float: left;
    }
    .quienSoyContent{
        width: 80%;
    }

    

    
    .contactMeForm h2{
        width: 160px;
        font-size: 20px;
        
    }
    .card{
        width: 90%;
        margin: 10px 0;
    }

    .gifs{
        width: 90%;
        padding: 0;
        margin: 10px auto;
    }

    .next h2{
        font-size: 20px;
    }
    .arrow{
        width: 80px;
    }

    .upArrowContainer{
        display: flex;
        justify-content: center;
    }
    .upArrow{
        margin: 10px 0px 0px 0px;
        width: 60px;
    }
}

/* #endregion responsive*/

/*! Contenedor Animaciones*/
/* #region animations*/

@keyframes arrowAnimation {
    0%{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
}
    100%{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}

/* #endregion animations*/
